body{
    background: linear-gradient(#0ca5b0, #68baab);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #f9f9f9d6;
    box-sizing: border-box;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    && h1{
        margin: 10px;
    }

}

.header img {
    height: 50px; 
    width: auto;
}

.rainbow-text {
    font-size: 2em;
    font-weight: bold;
    background-image: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    color: transparent;
    animation: rainbow-animation 5s infinite linear;
    background-size: 400% 100%;
}

@keyframes rainbow-animation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}


root{
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
}

.panel{
    background-color: #2c2b2b;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px 0 #000000d6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:auto;
    margin-top: 1rem;
    width: 90%;
}
.nav-panel{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.nav-panel ul{
    display: flex;
    list-style: none;
    padding: 0;
}
.nav-panel ul li{
    margin-right: 10px;
}
.box {
    background-color: #fefeeb;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #000000d6;
    width: 90%;
    height: 600px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: thin;
    padding: 10px;
}

.message-person {
    background-color: #2c2b2b;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #000000d6;
    min-width: 40%;
    max-width: 70%;
    margin: 10px;
    padding: 10px;
    text-align: left;
    align-self: flex-start;
}

.message-person-you {
    background-color: #000000d6;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #000000d6;
    max-width: 70%;
    margin: 10px;
    padding: 10px;
    margin-left: auto;
    text-align: right;
    align-self: flex-end;
}


.message-person-name {
    font-weight: bold;
    color: #edd862d4;
    margin: 0;
}

.message-person-content {
    margin: 0;
    color: #ffffff;
}

.write-message{
    display: flex;
    align-items: center;
    justify-content: end;
    height: 50px;
    background-color: #2c2b2b;
    box-shadow: 0 0 10px 0 #000000d6;
    border-radius: 10px;
    width: 90%;    
    margin: auto;
    margin-top: 10px;
}
.send-message{
    background-color: #edd862d4;
    color: #2c2b2b;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    
    margin-right: 10px;
    cursor: pointer;
    && input{
        background-color: #000000d6;
        border-radius: 5px;
        margin: 5px 2px;
        padding: 5px;
        color: #ffffff
    }
}
.button-send{

    background: #0ca5b0;
    color: #fefeeb;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: 5px;
}

@media screen and (max-width: 768px){
    .send-message{
        && input{
            width: 100%;
        }
    }
    
}